footer{
    padding: $gutter;
    padding-bottom: 30px;
    color: white;
    background-color: darken($color-back,75);
    
    a{
        font-size: 1em;
        font-weight: 300;
        line-height: 2;
    }
    h2{
        color: white;
        font-family: Shrikhand, sans-serif ;
        font-size: 1.1em;
        padding-bottom: 15px;
    }
    a{
        display: inline-block;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    i{
        position: relative;
        width: 30px;
    }
   
    
}

