body {
  font-family: roboto, sans-serif;
}
h2 {
  font-weight: 500;
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
  font-weight: 500;
}
p {
  font-size: 1.2em;
  font-weight: 200;
}
.btn {
  font-size: 1.1em;
}

input {
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
