
.inputBox{
    display: flex;
    justify-content: center;
    background-color:darken($color-back, 5);
    margin-top: 70px;

    input{
        width: 40%;
        display: block;
        padding: 15px 15px;
        border: none;
        background-color:darken($color-back, 5);
    }
        .localisation{
            position: relative;
            top: 17px;
        }
}


.explorer{
    text-align: center;
    padding: 0 $gutter;
    padding-top: 0;
    padding-bottom: 50px;
    background-color: $color-back;
  
     h2{
        width: 80%;
        margin: auto;
        padding-top: 40px;
    }
     p{
        padding-top: 20px;
        padding-bottom: 30px;
    }   
}

.fonctionnement{
    padding: 50px $gutter ;
    padding-bottom: 40px;

    h2{
        padding-bottom: 20px;
    }

    &__card{
        position: relative;
        display: flex;
        margin: 30px 0;
        margin-left: 10px;
        text-align: center;
        background-color: $color-back;
        border-radius: 25px;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    }
    &__para{
        padding: 25px;
        font-size: 1.1em;
        font-weight: 400;
    }
    img{
        top: 0;
        left: 0;
        width: 20px;
        margin-left: 45px;     
    }
    .numero{
        width: 25px;
        height: 25px;      
        line-height: 25px;
        position: absolute;
        top: 23px;
        left: -12.5px;
        border-radius: 50%;
        color: white;
        background-color: $color-primary;
    } 
}

.indexRestaurant{
    background-color: $color-back;
    padding: 0px $gutter;
    padding-bottom: 50px;

    &__card{
        display: block;
        margin: 20px 0;
    }


    &__wrapperImage{
        overflow: hidden;
        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0 0;
    }

    h2{
        padding-top: 50px;
        padding-bottom: 20px;
    }
 

    &__explication{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-radius: 0 0 20px 20px;
        background-color: white;

        &__col1{
            padding-left: 15px;
        }
        &__col2{
            padding-right: 15px;
        }
        .coeur{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2em;
        }
    }
}


